#mainsection {
    /*border-width: 30px;
    border-image: url(texture/flower.png) 53 round;*/
}

#currentpagenav {
    color: var(--bg2-colour);
    text-decoration: none;
}

body {
    font-family: fancy;
    color: var(--bg2-colour);
    background-color: var(--fg2-colour);
}

h3 {
    text-align: center;
    font-family: display;
    font-weight: normal;
}

table {
    width: 100%;
    font-family: fancy;
}

thead {
    
}

th {
    text-align: left;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--bg2-colour);
}

td:first-child {
    font-style: italic;
}

.divider {
    font-family: display;
    text-align: center;
}

#imgbanner {
    display: flex;
    width: 100%;
    justify-content: center;
}

img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#imgbanner img {
    height: 1rem;
    width: auto;
}
